<ef-map-event></ef-map-event>
<ef-menu-search></ef-menu-search>

<!-- <div class="map-popup">
  <img class="popup-image" src="//via.placeholder.com/350x150" alt="" />
  <div class="popup-container">
    <h4 class="title">Show X</h4>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic debitis iste
      incidunt architecto aliquid distinctio.
    </p>
  </div>
</div>

<div class="map-marker -with-text">
  <div class="material-icons">event</div>
  <p class="text">event.name</p>
</div> -->
