.dialog-header {
  & > .left > .title {
    margin: 0;
  }
}

mat-dialog-content {
  height: 75vh;
  &.-mobile {
    height: calc(100% - 24px);
  }
  & > mat-list {
    padding-bottom: 80px;
  }
  & > mat-list > mat-list-item {
    position: relative;

    margin-bottom: 10px;
    border-radius: 5px;

    background-color: rgb(var(--color-text), 0.1);
  }

  & > mat-list > mat-list-item .btn-tools {
    position: absolute;
    inset: 16px 16px auto auto;
  }

  & > .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
  }

  & > .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
  }
  & > .empty > .icon {
    font-size: 120px;
    opacity: 0.9;
    line-height: 180px;
  }
  & > .empty > .description {
    font-size: 20px;
  }
}

mat-dialog-actions {
  height: 0;
  padding: 0;
  min-height: 0;
  position: relative;
  & > .btn-floating {
    position: absolute;
    inset: auto 0 24px auto;
  }
}
