<div class="menu-container">
  <!-- keyValue="" -->
  <ng-autocomplete
    keyIcon="icon"
    keyLabel="name"
    keyLabel="name"
    [options]="events"
    [loading]="loading"
    [disabled]="isMobile"
    [(value)]="inputSearch"
    [removeMarginBottom]="true"
    (click)="openDialogMobile()"
    (valueChange)="search($event)"
    placeholder="Buscar por eventos"
    (optionSelect)="optionSelect($event.value)"
    [icons]="{
      prefix: { icon: 'search' },
      suffix: {
        image: (user$ | async)?.avatar,
        onClick: openDialogUser.bind(this)
      }
    }"
  ></ng-autocomplete>

  <ef-chip-list class="chip-scrollable-horizontal">
    <ef-chip
      *ngFor="let category of categories"
      [(selected)]="category.select"
      (selectedChange)="onChangeCategory(category)"
    >
      <mat-icon class="chip-icon -left">{{ category.icon }}</mat-icon>
      {{ category.name }}
    </ef-chip>
  </ef-chip-list>
</div>
