.chip-scrollable-horizontal {
  width: 100%;
  div.mat-chip-list-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .mat-chip {
      flex: 0 0 auto;
    }
  }
  &.scroll-md {
    display: block;
    flex-wrap: wrap;
    overflow-x: initial;
  }
}
