@import "~@douglas-serena/ng-inputs-material/assets";
@import "~@douglas-serena/ng-utils/assets/material";
@import "~@douglas-serena/ng-utils/assets";

.chip-icon {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px;

  &.-left {
    margin-right: 8px;
  }
  &.-right {
    margin-left: 8px;
  }
}

.mat-menu-content {
  min-width: 150px;
}

// TOOLBAR
mat-toolbar {
  background-color: rgb(var(--color-background-dark)) !important;
}

// INPUT
@include createColorInputs(
  "primary",
  rgb(var(--color-primary)),
  rgb(var(--color-primary-light)),
  rgb(var(--color-danger)),
  rgb(var(--color-text)),
  rgb(var(--color-text-secondary)),
  rgb(var(--color-background-light))
);
@include createMap();

// SPINNER
@include createColorSpinner("primary", rgb(var(--color-primary)));
@include createColorSpinner("text", rgb(var(--color-text)));

// ICON
@include createColorIcon("text", rgb(var(--color-text-button)));
@include createColorIcon("primary", rgb(var(--color-primary)));
@include createColorIcon("facebook", rgb(var(--color-facebook)));
@include createColorIcon("success", rgb(var(--color-success)));
@include createColorIcon("warning", rgb(var(--color-warning)));
@include createColorIcon("danger", rgb(var(--color-danger)));
@include createColorIcon("whats", rgb(var(--color-whats)));

// BUTTON
@include createColorButton(
  "primary",
  rgb(var(--color-primary)),
  rgb(var(--color-text-button))
);
@include createColorButton(
  "danger",
  rgb(var(--color-danger)),
  rgb(var(--color-text-button))
);
@include createColorButton(
  "facebook",
  rgb(var(--color-facebook)),
  rgb(var(--color-text-button))
);
@include createColorButton(
  "google",
  rgb(var(--color-google)),
  rgb(var(--color-text-button))
);

// DIALOG
@include createDialog(
  "primary",
  rgb(var(--color-primary)),
  rgb(var(--color-text))
);

// SNACKBAR
@include createColorSnackbar(
  "success",
  rgb(var(--color-success)),
  rgb(var(--color-text))
);
@include createColorSnackbar(
  "warning",
  rgb(var(--color-warning)),
  rgb(var(--color-text))
);
@include createColorSnackbar(
  "danger",
  rgb(var(--color-danger)),
  rgb(var(--color-text))
);
