/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "swiper/scss/navigation";
@import "./theme/index";
@import "./styles/index";
@import "swiper/scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-background));
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    transition: 100ms;
    background: rgba(var(--color-scroll));
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-scroll-hover));
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(var(--color-scroll-active));
  }
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}
